@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #081b29;
    --seond-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* header navbar */
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    z-index: 99;
}

.logo{
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: 2s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

#menu-icon{
   font-size: 3.6rem;
   color: var(--text-color); 
   cursor: pointer;
   display: none;
}

/* body section home */
section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home{
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('../assets/background.svg') no-repeat;
    background-size: cover;
    background-position: center;
}

.home-content{
    max-width: 60rem;
}

.home-content h1{
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content .text-animate{
    position: relative;
    width: 32.8rem;
}

.home-content .text-animate h3{
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
}

.home-content p{
    font-size: 1.6rem;
    margin:  2rem 0 4rem;
}

/* home button */
.btn-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--text-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:nth-child(2){
    background-color: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box .btn:nth-child(2):hover{
    color: var(--text-color);
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 1s;
}

.btn-box .btn:hover {
    color: var(--main-color);
 }

.btn-box .btn:hover::before {
   width: 100%;
}

/* home sosmed icon */
.home-sosmed{
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sosmed a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sosmed a:hover{
    color: var(--text-color);
}

.home-sosmed a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    transition: .5s;
    z-index: -1;
}

.home-sosmed a:hover::before{
    width: 100%;
}