@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-color: #ededed;
  --main-color: #00abf0;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

/* header navbar */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  background: transparent;
  z-index: 99;
}

.logo {
  font-size: 2.5rem;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
}

.navbar a {
  font-size: 1.7rem;
  color: var(--text-color);
  font-weight: 500;
  margin-left: 3.5rem;
  text-decoration: none;
  transition: 1s;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  cursor: pointer;
  display: none;
}

/* body section home */
section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
}

.home {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8rem 9%;
  background: var(--bg-color);
}

.home-content {
  max-width: 70rem;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content .text-animate {
  position: relative;
  width: 32.8rem;
}

.home-content .text-animate h3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--main-color);
}

.home-content p {
  font-size: 1.6rem;
  margin: 2rem 0 4rem;
}

/* home button */
.btn-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 34.5rem;
  height: 5rem;
  margin-bottom: 5rem;
}

.btn-box .btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 15rem;
  height: 100%;
  background: var(--main-color);
  border: 0.2rem solid var(--main-color);
  border-radius: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box .btn:nth-child(2) {
  background-color: transparent;
  color: var(--main-color);
}

.btn-box .btn:nth-child(2)::before {
  background: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
  color: var(--text-color);
}

.btn-box .btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--bg-color);
  z-index: -1;
  transition: 1s;
}

.btn-box .btn:hover {
  color: var(--main-color);
}

.btn-box .btn:hover::before {
  width: 100%;
}

/* home sosmed icon */
.home-sosmed {
  width: 170px;
  display: flex;
  justify-content: space-between;
}

.home-sosmed a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 20px;
  color: var(--main-color);
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.home-sosmed a:hover {
  color: var(--text-color);
}

.home-sosmed a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--main-color);
  transition: 0.5s;
  z-index: -1;
}

.home-sosmed a:hover::before {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column-reverse;
  }
  .home-content h1 {
    font-size: 4rem;
  }

  .home-content .text-animate {
    position: relative;
    width: 32.8rem;
  }

  .home-content .text-animate h3 {
    font-size: 3rem;
    font-weight: 700;
  }

  .home-content p {
    font-size: 1.4rem;
  }
}

/* About Section */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  background: var(--second-bg-color);
  padding-bottom: 6rem;
}

.heading {
  font-size: 5rem;
  margin-top: 3rem;
  text-align: center;
}

.heading span {
  color: var(--main-color);
}

.about-img {
  position: relative;
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img img {
  width: 90%;
  border-radius: 50%;
  border: 0.2rem solid var(--main-color);
}

.about-img .circle-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 0.2rem solid var(--second-bg-color);
  border-bottom: 0.2rem solid var(--second-bg-color);
  border-left: 0.2rem solid var(--main-color);
  border-right: 0.2rem solid var(--main-color);
}

/* about content */
.about-content {
  text-align: center;
}

.about-content h3 {
  font-size: 3rem;
}

.about-content p {
  font-size: 1.8rem;
  margin: 2rem 0.6rem;
}

.btn-box.btns {
  display: flex;
  width: 15rem;
}

/* Education */
.education {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  min-height: auto;
  padding-bottom: 5rem;
}

.education .education-row {
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

.education-col {
  flex: 1 1 40rem;
}

.education-col .title {
  font-size: 2.5rem;
  margin: 2rem 0 1.5rem 2rem;
}

.education-box{
  border-left: .2rem solid var(--main-color);
}

.education-content{
  position: relative;
  padding-left: 2rem;
}

.education-content::before{
  content: '';
  position: absolute;
  top: 0;
  left: -1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--main-color);
  border-radius: 50%;
}

.education-content .content{
  position: relative;
  padding: 1.5rem;
  border: .2rem solid var(--main-color);
  border-radius: 1rem;
  margin-bottom: 2rem;
  overflow: hidden;
}

.education-content .content::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--second-bg-color);
  z-index: -1;
  transition: .5s;
}

.education-content .content:hover::before{
  width: 100%;
}

.education-content .content .year{
  font-size: 1.5rem;
  color: var(--main-color);
  padding-bottom: .5rem;
}
